{% extends 'aberd/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block active_proxy_history_spu %} active {% endblock active_proxy_history_spu %}

{% load humanize %}
{% block aberd %}

{% if request.user.is_superuser %}







<div class="row">
    <div class="col-lg-12">
        <h2 class="title-1 m-b-25">Proxies Summary</h2>

        <div class="row mt-2 mb-3">
            <div class="col-2">
            </div>
            <div class="col-8">

   

            </div>
          </div>
        <div class="table-responsive table--no-card m-b-40">
    



           
        
        












              <table class="table table-borderless table-striped table-earning table-sm" id="dataTable">
                <thead>
    
    
                  <tr>
                    <th style="width: 10px">#</th>
                    <th> Package </th>
                    <th> Coupon </th>
                    <th> Payment </th>
                    {% comment %} <th>Seller</th> {% endcomment %}
                    <th>Order Date</th>
                    <th>Details</th>
                    <th >Proxy Summary</th>
    
                
                 
                  </tr>
                </thead>
                <tbody>
                  {% for order in orders %}
                  {% if order.instance %}
                  <tr>
                    <form action="{% url 'proxy_user' pk=order.instance.pk %}" method="post">

                      {% csrf_token %}
                    <td>{{ forloop.counter }}</td>
                    <td>
                      {{order.package.title | title}}
                     </td>

                     <td>
                      {{order.coupon.name | title}}
                     </td>

                     <td> 
                      {% if order.has_paid %}
                      <p> Success </p>
                      
                      {% else %}

                      <p> No Payment </p>
                      {% endif %}
                     </td>
                    <td>
                      {% if order.created_on %}
                      {{order.created_on | date }}
                      {% endif %}
                    </td>

                    <td>
                    
                      {% if not order.instance.proxy_details_set %}

                  
                      {% if order.instance.created_by.is_seller %}
               

                      {% else %}
                      <input type="text" name="details" id="">
                      <button type="submit" class="btn btn-info">
                        <strong>Set</strong>
                      </button>

                      {% endif %}


                      {% else %}
                     

                      {% if order.instance.created_by.is_seller %}
                      **********************

                      {% else %}
                        
                        {{ order.instance.proxy_details }}
                      {% endif %}
                      {% endif %}
               

                    </td>

                

            
                    <td>
                     


                      {% if order.instance.created_by.is_seller %}
                     
                      **********************
                      {% else %}
                      {{order.instance.get_summary }}

                      {% endif %}
                    </td>
          
             


                    </form>
              
                    
                  </tr>

                  {% endif %}
    
                  {% endfor %}
               
                </tbody>
              </table>
        
        
            </div>
    </div>


  
</div>




{% endif %}

{% endblock aberd %}
