{% extends "account/base.html" %} {% load socialaccount %}
{% load i18n %}
{% load crispy_forms_tags %} {% block title %} Password Reset Key {% endblock %}

{% block head_title %} Password Reset Key {% endblock %}


{% block content %}

<div class="row mt-4">
    <h2 style="color:black;" class="d-flex justify-content-center" >Reset Password</h2>
  </div>

  <div class="row">
    <div class="col-md-3">

    </div>

    
    <div class="col-md-6">
    <p style="color:black;">{% if token_fail %}Failed Please Try again{% else %}Enter New Password{% endif %}</p>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p style="color:black;">Failed <a href="{{ passwd_reset_url }}">。</a>.</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {% for field in form %}

 
   <div class="form-group field">
   {{ field  |as_crispy_field }}
   {% if field.errors %}
   <div class="alert-message">
   {{ field.errors }}
  </div>
  {% endif %}
 </div>

 <br />

   {% endfor %}
                <input type="submit" class="btn btn-primary" name="action" value="Reset"/>
      
            </form>

            <br />
        {% else %}
       
            {% comment %} <p>パスワードが変更されました。</p> {% endcomment %}
     
        {% endif %}
    {% endif %}

        </div>

    </div>
{% endblock %}
