{% extends "account/base.html" %} {% load socialaccount %}
{% block head_title %} Password Reset Done {% endblock %}
{% load i18n %}
{% load crispy_forms_tags %} {% block title %} Password Reset Done {% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>
    <p>{% trans 'Your password is now changed.' %}</p>

    
    <br />

    <p class="text-center" style="color:black;">
      Login <a href="{% url 'account_login' %}">Here</a> <br />
      Forgotten Password
      <a href="{% url 'account_reset_password' %}">Reset Here</a>
    </p>
{% endblock %}