
{% extends "account/base.html" %} {% load socialaccount %}
{% block head_title %} Register {% endblock %}
{% load i18n %}
{% load crispy_forms_tags %} {% block title %} Register {% endblock %}

{% block content %} 




  <br />
  <div class="row mt-4">
    <h2 style="color:black;" class="d-flex justify-content-center" >Password Reset</h2>
  </div>

  <div class="row">
    <div class="col-md-3">

    </div>

    
    <div class="col-md-6">

      <div class="box-for overflow mt-3">                         
        <div class="col-md-12 col-xs-12 login-blocks">
          <h1>{% trans "Password Reset" %}</h1>
          {% if user.is_authenticated %}
          {% include "account/snippets/already_logged_in.html" %}
          {% endif %}
      
          <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
      
          <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
              {% csrf_token %}
              {{ form | crispy }}
              <br />
              <input type="submit" class="btn btn-primary" value="{% trans 'Reset My Password' %}" />
          </form>

          <br />
      
          <p  style="color:black;">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
          <br />
          <p class="text-center" style="color:black;">Login <a class="btn btn-info" href="{{ login_url }}">Here</a></p>

      
      
            <br>

        </div>


    </div>

      <br />
      <div class="col-md-3">

      </div>


      <div class="col-md-3">

      </div>
      <div class="col-md-6 ">
  


   


    </div>
    </div>
  </div>




{% endblock %}