
{% extends 'base.html' %}
{% load static %} 
{% load crispy_forms_tags %}

{% load humanize %}
{% block vps %} active {% endblock vps %}

{% block content %}

<div class="container-fluid">

  <div class="row">

    <div class="col-1">

    </div>


    <div class="col-10">
      <h3 style="text-transform: uppercase;">Sell Template</h3>

    </div>

  </div>


  <div class="row">

    <div class="col-1">

    </div>


    <div class="col-10">
     <hr>
      
    </div>

  </div>

</div>

<div class="container-fluid">


  <div class="row">
    <div class="col-1"></div>

    <div class="col-10">
      <div class="card">
        <div class="card-body">
          <div>
            <div class="row">
              <div class="col-2">
               

                
              </div>
              <div class="col-8">
                <a href="{% url 'add_sell_template_to_sellers' %}" >Sell Template</a>
              </div>
            </div>
            <table class="table table-striped table-sm" id="dataTable">
              <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Template Name</th>
                  {% comment %} <th>Template ID</th> {% endcomment %}
                  <th>Units</th>
                  <th>Cost Per Unit</th>
                  <th>Total Cost</th>
                  <th>Price Per Unit</th>
                  {% comment %} <th>Total Price</th> {% endcomment %}
                  <th>Sellers</th>
                  <th>Date Added</th>
              
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for vps in templates %}
                <tr>
                  <td>{{ vps.id }}</td>
                  <td>{{vps.template.template_name}}</td>
                  {% comment %} <td>{{vps.template.template_id}}</td> {% endcomment %}
                  <td>{{vps.seller.seller_quantity}}</td>
                  <td>{{vps.template.cost }}</td>
                  <td>{{vps.get_total_cost }}</td>
                  <td>{{vps.cost }}</td>
                  {% comment %} <td>{{vps.balance }}</td> {% endcomment %}
                  <td>
                    {% for user in vps.sellers.all %} {{user}} {% endfor %} {{ vps.seller }}
                  </td>
                  <td>{{ vps.date_created | date }}</td>
                
                  <td>

                 {% comment %} <a
                    class="btn btn-danger"
                    href="{% url 'add_templates_to_sellers' pk=vps.id %}"
                    >Add more</a
                  > {% endcomment %}
                    <a
                      class="btn btn-danger"
                      href="{% url 'edit_sell_template_to_sellers' pk=vps.id %}"
                      >Edit</a
                    >

                    <a
                      class="btn btn-danger"
                      href="{% url 'delete_sell_template_to_sellers' pk=vps.id %}"
                      >Delete</a
                    >
                  </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

  {% endblock %}

  {% block extra_js %}
  <script>
    $(document).ready( function () {
      $('#dataTable').DataTable({
        select: true,
        dom: "Bfrtip",
        autoWidth : true,
        responsive: true,
      });
      $('#dataTable2').DataTable(
        {
          select: true,
          dom: "Bfrtip",
          autoWidth : true,
          responsive: true,
        }
      );

  } );
  </script>
  {% endblock %}