{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <title>AwsVPS</title>
  <link rel="stylesheet" href="{% static 'all.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/adminlte.min.css' %}">
  <link rel="stylesheet" href="//cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous"/>

  <style>
    .active {

    }

    table.dataTable tbody td {
      padding: 3px 2px;
  }
  </style>
</head>
<body class="hold-transition layout-top-nav">
<div class="wrapper">
{% if user.is_authenticated %}
  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand-md navbar-light navbar-white">
    <div class="container">
      <a href="/" class="navbar-brand">
      
        <span class="brand-text font-weight-light">AwsVPS</span>
      </a>
      
      <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse order-3" id="navbarCollapse">
        <ul class="navbar-nav">
          {% if user.is_superuser %}
          <li class="nav-item">
            <a href="{% url 'superuser_home' %}" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">{{user.username}} - Superuser</a>
          </li>


          {% elif user.is_admin %}
    
          <li class="nav-item">
            <a href="{% url 'control_panel' %}" class="nav-link">{{ user.username }} - Admin</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'templates' %}" class="nav-link">Templates Types</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'aws_accounts' %}" class="nav-link">Aws Accounts</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'settings' %}" class="nav-link">Settings</a>
          </li>
          {% else %}
    
          <li class="nav-item">
            <a href="{% url 'user_dashboard' %}" class="nav-link ">{{ user.username }}</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a href="{% url 'logout' %}" class="nav-link">Logout</a>
          </li>
        </ul>

   
      </div>

    
    </div>
  </nav>


  {% endif %}

  <div class="content-wrapper">
    <br>

    <div class="row">
      <div class="col-3">

      </div>

      <div class="col-6">
        {% if messages %}
        <ul class="messages">
          {% for message in messages %}
          <div class="callout callout-danger">
            <h5><i class="fas fa-info"></i> Message</h5>
            {{ message }}
          </div>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
    </div>





    
    <div class="row">
      <div class="col-3">

      </div>

      <div class="col-6">
        <ul class="messages">
          <div class="callout callout-danger">
            <h5><i class="fas fa-info"></i> Message</h5>
            Please Contact the Administrator
          </div>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.content-wrapper -->




</div>
<!-- ./wrapper -->


<script src="{% static 'jquery.min.js' %}"></script>
<script src="{% static 'bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/adminlte.min.js' %}"></script>
<script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>


<script type="text/javascript">
  // To disable right click

// To disable F12 options
document.onkeypress = function (event) {
event = (event || window.event);
if (event.keyCode == 123) {
return false;
}
}
document.onmousedown = function (event) {
event = (event || window.event);
if (event.keyCode == 123) {
return false;
}
}
document.onkeydown = function (event) {
event = (event || window.event);
if (event.keyCode == 123) {
return false;
}
}


</script>




<script>
  document.onkeydown = function(e) {
          if (e.ctrlKey && 
              (e.keyCode === 123 || 
               e.keyCode === 117)) {
              return false;
          } else {
              return true;
          }
  };



  $(window).on('keydown',function(event)
    {
    if(event.keyCode==123)
    {
        alert('Entered F12');
        return false;
    }
    else if(event.ctrlKey && event.shiftKey && event.keyCode==73)
    {
        alert('Entered ctrl+shift+i')
        return false;  //Prevent from ctrl+shift+i
    }
    if(event.ctrlKey && event.keyCode==73)
    {
        alert('Entered ctrl+shift+i')
        return false;  //Prevent from ctrl+shift+i
    }
});








  </script>

{% block extra_js %}


{% endblock %}



</body>
</html>
