
{% extends 'comply/base.html' %}

{% load static %}
{% block breadcramp %} Privacy Policy {% endblock %}

           {% block aberd %}



           <h3>Privacy Policy.</h3> <br/><br/>
           Our Services are not specifically aimed at children and teenagers under the age of 18. A transfer of personal data to us should not take place without the consent of parents. If we become aware that a child has submitted information to Soax, we delete this information immediately. We encourage parents to instruct their children to never give out their real names, addresses, or phone numbers, without permission, when using the Internet. <br/><br/>
           Our Web site or system may contain links to other websites or applications for whose content, function and compliance we are not responsible. Please inform yourself about the data protection regulations of the respective web pages with the respective operators. <br/><br/>
           We implement appropriate technical and organizational measures to protect against unauthorized or unlawful processing of Personal Data and against accidental or unlawful destruction, loss, alteration, unauthorized disclosure of, or access to Personal Data. Please be advised, however, that we cannot fully eliminate security risks associated with the storage and transmission of Personal Data. <br/><br/>
           
           As a data subject within the meaning of the General Data Protection Regulation (GDPR), you have the right to do so:<br/>
           <ul>
            <li>to request free information about the processing of your data and to receive a copy of your personal data. You may request information on, among other things, the purposes of the processing, the categories of personal data to be processed, the recipients of the data (if disclosed), the duration of the retention or the criteria for determining the duration; <br/> </li>
           <li> to correct your data. If your personal data are incomplete, you have the right to complete them, taking into account the purposes for which they are processed; <br/> </li>
           <li> delete or block your data. Reasons for the existence of a cancellation/blocking claim can include, among others: a) the revocation of the consent on which the processing is based, b) the data subject objects to the processing, c) the personal data have been processed unlawfully; <br/> </li>
           <li> to restrict the processing; <br/> </li>
           <li> to object to the processing of your data; <br/> </li>
           <li> to revoke your consent to the processing of your data for the future. <br/> </li>
           <li> to complain to the competent supervisory authority about unauthorized data processing. <br/> </li>

           </ul>
           
           
           {% endblock %}