{% extends 'comply/base.html' %}

{% load static %}


{% block breadcramp %} Refund Policy {% endblock %}


           {% block aberd %}


           <h2>Return/ Refunds policy </h2> <br/>
           Replacement of service/product: <br/><br/>
           1.	At the time of receiving IP addresses, one or more addresses were unworkable for use, within a day, (commonly immediately after the support contact) from the moment we receive a request, we will replace it with workable IP addresses or eliminate the cause of their inoperability. <br/><br/>
           2.	If problems happened immediately at the time of operation (except for the inability to connect to a proxy) - the IP address (es) cannot be replaced. <br/><br/>
           3.	At the request of the client, we can replace the region or city, deduction to the difference in price. <br/><br/>
           
           <br/><br/>


          <br/>
           A full refund is possible within 1 hours after the purchase of the proxy. Therefore, we strongly recommend you to check it as soon as possible after receiving the IP address.
           Hence, you are advised to check such proxies once they have been delivered. <br/><br/>
           A partial refund is possible in deduction to the cost of the lease term that was used.
           Refund is possible in the following cases: <br/>
           •	the inoperability of the proxy you purchased and the inability to replace it with another; <br/>
           •	the inability to connect to IP (subject to contact our support and confirmation of this from the Technical Specialist); <br/>
           •	lack of the necessary IP location; <br/>
           •	lack of IP for your chosen purpose of use; <br/>
           •	IP purchasing for a purpose prohibited by the terms of use on our website https://www.goldvpsproxy.in/rules <br/><br/>
           Important! If the IP block/ban occurred due to actions performed by you directly during the use of the IP address, we reserve the right not to perform a replacement. In order to avoid such situations, we strongly recommend you to familiarize yourself with the site/service policy in which you plan to use our addresses. <br/>
           We inform you that when you request a refund, if you refuse to purchase, the refund can be made only to the same bank card or payment system with which payment was made.<br/>
           We guarantee performance precisely for the purposes that you indicated when buying a proxy, so if you purchased a proxy, for example, for Telegram and it is absolutely functional and does not work on Instagram, this is not a reason for a replacement. <br/>
           

{% endblock %}