
{% extends 'comply/base.html' %}

{% load static %}
{% block breadcramp %} Return Policy{% endblock %}

           {% block aberd %}





           <h2>Return policy </h2> <br/>
           Replacement of service/product: <br/><br/>
           1.	At the time of receiving IP addresses, one or more addresses were unworkable for use, within a day, (commonly immediately after the support contact) from the moment we receive a request, we will replace it with workable IP addresses or eliminate the cause of their inoperability. <br/><br/>
           2.	If problems happened immediately at the time of operation (except for the inability to connect to a proxy) - the IP address (es) cannot be replaced. <br/><br/>
           3.	At the request of the client, we can replace the region or city, deduction to the difference in price. <br/><br/>
           
           
           {% endblock %}