
{% extends 'comply/base.html' %}

{% load static %}
{% block breadcramp %} Terms and Conditions {% endblock %}

           {% block aberd %}


           <h2> Terms and Conditions </h2>

  

           <ol type="1">

           <li>Only persons older than 18 may use Services accessible or offered through the Product Website. </li>
           <li>	Both the access to the Service and its usage are protected by each User’s non-public login and password. The User is the sole user of the Service provided and is responsible for its safe usage, which complies especially with the Terms and Conditions, valid legal provisions, international law, good manners and business customs. The User, when taking due care, is particularly obliged to protect his user account, login and password for accessing the Service against their unauthorised use or abuse, to prevent the loss of his user name or password, to prevent an unauthorised use of the Service, the theft of his user name or password, the copying of his user name and password or their provision to a third party, etc. </li>
           
           
           
           
           
           <li>	The User undertakes to, especially: <br/> a) prevent third parties from using the Service; <br/> b) prevent abuse of the Service or to refrain from using the Service himself for fraudulent or false activities or activities that are or could be in contradiction to good manners, activities the character of which constitutes a crime, an infraction or other illegal activities prohibited by law or other activities prohibited by these Acceptable Usage Policy and/or Terms and Conditions. </li>
               
           <li>	The User is fully responsible for all operations and activities conducted through the User’s account. Besides Terms and Conditions, the User is obliged to comply with the system of law of the country in which the Services are used, and also with the Provider’s system of law. </li>
                    <li>	The User is not allowed to share his account with another person. The User bears full responsibility for an activity of a third party that may use the Services through the User's account (e.g. in the event of the third party passing on or accessing the User's access data). </li>
                        <li>	The User can use the Service on a whole range of devices, such as a PC, a phone, a pocket PC, a tablet, etc. Within his account, however, the User can simultaneously use the Service ordered only on one device. It is not possible to use the Service simultaneously on more than one device – unless the description of the Service provides otherwise (especially if the nature or character of the Service allows its use at more than one terminal equipment). </li>
                        <li>    The User also further undertakes to:
                            <ol type="i">
                                <li>	not pay for the Service ordered with a stolen or falsified credit card or with any other illegal means;
                                    <li>	refrain from using any of the Services for any unauthorised and unlawful behaviour, e.g. an attack or attempted attacks (such as hacking, breaking a firewall, spamming, fishing etc.) at any other computer, server, Internet network or other technical devices, including software, that are connected to the Internet; </li>
                                        <li>	not endanger or damage in any way, including attempts, the Provider’s and third party’s technical devices, including their source codes, SW and databases; </li>
                                            <li>	not use any of the Services to transmit malicious content, particularly malware, such as viruses, Trojan horses, worms, etc.; </li>
                                                <li>	not use any of the Services neither for accepting nor publishing nor providing harmful content, such as content in breach of copyright, pirated copies of copyrighted works (such as copies or rip, CDs, DVDs, software), child pornography, or any other defective content; </li>
                                                    <li>	not use any of the Services for sending unsolicited commercial messages or other harmful or fraudulent content, data and information, such as SPAMs, unsolicited SMS messages, advertising and marketing messages, etc.; </li>
                                                        <li>	not use any of the Services for sending legal commercial messages and even not in the opt-in regime; </li>
                                                            <li>	not use any of the Services for activities which content is child pornography, supporting or promoting criminal activities, including terrorism and extremism, such as activities that include accepting, publishing, selling, linking, etc.; </li>
                                                                <li>	not use any of the Services for activities that constitute or could constitute an infraction, a crime or the preparation or attempt thereof that is punishable according to Provider’s national legal order, EU law, international law, including the User’s national legal order; </li>
                                                                    <li>	not use any of the Services to dangerously persecute or threaten a third party, including various forms; </li>
                                                                        <li>	not use any means that are able to endanger or curb the use of the Service by other users or providers; </li>
                                                                            <li>	Not use the Service for excessive data transfer. The Provider reserves the right to limit the User’s transfer speed if the daily average of data transferred by the User exceeds 8 GB data. </li>
           
                                                                        </ol>
          
                                </li>
                                                                        </ol>
     
           
           
           {% endblock %}